{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_batch_form{% endblock %}
{% block form_action %}{% url horizon:syspanel:batch_setup:create_batch %}{% endblock %}

{% block modal_id %}create_batch_modal{% endblock %}
{% block modal-header %}{% trans "Create Batch" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <h3>{% trans "Add Instances" %}</h3>
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Current usage" %}</h3>
    <p>
        {% trans "You currently have " %} 
        <strong><span> {{ totals.vcpus }} </span></strong>
        {% trans "active VCPUs in your entire cloud." %}
        {% trans "Plea
        
     
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create Batch" %}" />
  <a href="{% url horizon:syspanel:batch_setup:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}